<footer class="site-footer" itemscope itemtype="http://schema.org/WPFooter">
  <div class="wrap">
  <!--
    <nav class="nav-footer">
      <ul id="menu-footer" class="genesis-nav-menu">
        <li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-585">
          <a href="http://10beasts.com/about/" itemprop="url">About
          </a>
        </li>
        <li id="menu-item-514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-514">
          <a href="http://10beasts.com/contact/" itemprop="url">Contact
          </a>
        </li>
        <li id="menu-item-512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-512">
          <a href="http://10beasts.com/tos/" itemprop="url">Terms of Services
          </a>
        </li>
        <li id="menu-item-513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-513">
          <a href="http://10beasts.com/privacy-policy/" itemprop="url">Privacy Policy
          </a>
        </li>
      </ul>
    </nav>
    -->
    <p>Copyright &#x000A9;&nbsp;2017 · mutcoins.com, All Rights Reserved.</p>
  </div>
</footer>
