<header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
  <div class="wrap">
    <div class="title-area">
      <p class="site-title" itemprop="headline">
        <a href="/">MutCoins</a>
      </p>
    </div>
    <nav class="nav-primary" itemscope itemtype="http://schema.org/SiteNavigationElement" id="genesis-nav-primary" aria-label="Main navigation">
      <div class="wrap">
        <ul id="menu-main" class="menu genesis-nav-menu menu-primary js-superfish">
          <li class="menu-item menu-item-object-category">
            <a href="/making-mut-coins-in-madden/" itemprop="url">
              <span itemprop="name">Become a MUT Millionaire</span>
            </a>
          </li>
          <li class="menu-item menu-item-object-category">
            <a href="/madden-sniping-filters/" itemprop="url">
              <span itemprop="name">Sniping Filters</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
