{% extends "layouts/base.html" %}

{% block metatitle %}{% if metaTitle %}{{ metaTitle }}{% else %}{{ title }}{% endif %}{% endblock %}

{% block metadescription %}{% if metaDescription %}{{ metaDescription }}{% endif %}{% endblock %}

{% block canonical %}
<link rel="canonical" href="https://www.makemutcoins.com/{{ slug }}" />
<link rel="amphtml" href="https://www.makemutcoins.com/amp/{{ slug }}">
{% endblock %}

{% block header %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@makemutcoins">
	<meta name="twitter:creator" content="@makemutcoins">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ metaDescription }}">
	<meta name="twitter:image" content="https:{{ featuredImage.fields.file.url }}">
	<meta property="og:locale" content="en_US"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="{{ title }}"/>
	<meta property="og:description" content="{{ metaDescription }}"/>
	<meta property="og:url" content="https://www.makemutcoins.com/{{ slug }}"/>
	<meta property="og:site_name" content="MakeMutCoins"/>
	<meta property="article:publisher" content="http://facebook.com/makemutcoins"/>
	<meta property="og:image" content="https:{{ featuredImage.fields.file.url }}"/>
{% endblock %}

{% block content %}
<header class="entry-header">
	<h1 class="entry-title" itemprop="headline">{{ title }}</h1>
	<p class="entry-meta">by 
		<strong>
			<span class="entry-author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
				<span class="entry-author-name" itemprop="name">{{ author[0].fields.name }}</span>
			</span>
		</strong> | Last Updated <time class="entry-time" itemprop="datePublished" datetime="{{ date | date('YYYY-MM-DD') }}">{{ date | date("MMMM D, YYYY") }}</time>
	</p>
</header>

{% markdown %}
{{ body }}
{% endmarkdown %}

{% endblock %}

{% block sidebar %}
{% endblock %}

